.footerr {
    display: grid;
    width: 100vw;
    color: #fff;

    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    &-item {


        & > p {
            font-weight: bold;
        }


        &-item-1 {

        }

         &-item-2 {
            
        }

         &-item-3 {
            
        }

         &-item-4 {
            
        }

         &-item-5 {
            
        }

         &-item-6 {
            
        }

         &-item-7 {
            
        }

         &-item-8 {
            
        }

         &-item-9 {
            
        }
            

        &-info {
            display: flex;
            flex-direction: column;
            font-weight: 400;
        }


    }
}