.jumb-section {
    background: red;
    background-image: url('../images/jumb-image.jpg');
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

}


.curved {
    background-image: url('../images/jumb-image.jpg');
    height: 80vh;
}

