.jumb-section {
    background: red;
    background-image: url('../images/jumb-image.jpg');
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: to;

}