.jumb-section {
    background: red;
    background-image: url('../images/jumb-image.jpg');
    height: 80vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;

}


.curved {
    background-image: url('../images/jumb-image.jpg');
    height: 85vh;

    &-back-btn {
        background-color:  #FDCC01;
        padding: 1rem 2rem;
        border-radius: 15px;
        padding-top: -3rem;
        font-size: 1.5rem;
        display: flex;
        
    }

    &-svg-jumbotron {
        width: 100vw;
        display: block;
        margin-top: -6rem;
        // margin-bottom: 4rem;
        border: none;
    }
}

