/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  cursor: pointer;
  font-size: 1.3rem;
  font-weight: bold;
  padding: 1.2rem 2.5rem;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  border-bottom: 1px solid #777;

  &-summary {
      font-weight: bold;
      fontc
  }



}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel-hide {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}
.panel-show {
  padding: 0 18px;
  background-color: white;
  display: block;
  overflow: hidden;
}

