.accordionn {
    border-bottom: 1px solid #777!important;

        .summary {
        border-radius: 0;
        background: #000!important;

        &-text {
            color: #fff!important;

        }
    }


}

