$mtnyellow: #FDCC01;

.menu-bar {
    width: 100vw;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    cursor: pointer;
    font-size: 1.5rem;

    &-logo {
        height: 3rem;
    }

    &-first-list {
        display: inline-block;
        background: $mtnyellow;


        display: flex;
        justify-content: space-around;
    }

    &-second-list {
        display: inline-block;
        background: $mtnyellow;


    }


}
li {
    list-style: none;
}
