$mtnyellow: #FDCC01;

.menu-bar {
    font-size: 1.6rem;
    background: $mtnyellow;

    &-first-list {
        display: flex;
        justify-content: space-;
        padding: 2rem;
    }

}
li {
    list-style: none;
}