$mtnyellow: #FDCC01;

.menu-bar {
    font-size: 1.6rem;
    // text-align: center;
    background: $mtnyellow;

    &-first-list {
        // margin-right: auto;
    }

    ul {
        display: inline-flex;
        list-style: none;
        color: #000;
        

        li {
            
        }
    }



}

