$mtnyellow: #FDCC01;

.menu-bar {
    font-size: 1.6rem;
    text-align: center;
    background: $mtnyellow;

    ul {
        display: inline-flex;
        list-style: none;
        color: #f;
    }
}

